market-research/n8n-workflows/market-research-workflow.json
{
  "name": "AI市场调研工作流",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "market-research",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "接收研究请求",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "market-research-webhook"
    },
    {
      "parameters": {
        "model": "gemini-pro",
        "prompt": "作为一名顶尖的电商市场分析师，请围绕核心主题 \"{{ $json[\"body\"][\"topic\"] }}\" 进行深度市场机会分析。\n\n请按照以下结构进行分析，并以JSON格式返回：\n\n{\n  \"market_overview\": \"整体市场概况（200-300字）\",\n  \"market_size\": \"预估市场规模和增长率\",\n  \"key_niches\": [\n    {\n      \"niche_name\": \"细分市场名称\",\n      \"target_audience\": \"目标用户群体\",\n      \"pain_point\": \"核心痛点\",\n      \"opportunity_score\": \"机会评分(1-10)\",\n      \"market_trend\": \"市场趋势描述\"\n    }\n  ],\n  \"entry_barriers\": \"进入门槛分析\",\n  \"success_factors\": [\"成功关键因素1\", \"成功关键因素2\", \"成功关键因素3\"]\n}",
        "options": {}
      },
      "id": "market-analysis",
      "name": "市场机会分析",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "gemini-pro", 
        "prompt": "基于以下市场机会分析结果：{{ $node[\"市场机会分析\"].json[\"text\"] }}\n\n请为排名第一的细分市场进行深度关键词和需求分析，以JSON格式返回：\n\n{\n  \"primary_niche\": \"主要细分市场名称\",\n  \"core_keywords\": [\n    \"高价值关键词1\",\n    \"高价值关键词2\",\n    \"高价值关键词3\",\n    \"高价值关键词4\",\n    \"高价值关键词5\"\n  ],\n  \"long_tail_keywords\": [\n    \"长尾关键词1\",\n    \"长尾关键词2\",\n    \"长尾关键词3\",\n    \"长尾关键词4\",\n    \"长尾关键词5\"\n  ],\n  \"search_intent_analysis\": {\n    \"informational\": [\"信息型搜索词\"],\n    \"commercial\": [\"商业型搜索词\"],\n    \"transactional\": [\"交易型搜索词\"]\n  },\n  \"seasonal_trends\": \"季节性趋势分析\",\n  \"content_opportunities\": [\"内容营销机会1\", \"内容营销机会2\", \"内容营销机会3\"]\n}",
        "options": {}
      },
      "id": "keyword-analysis",
      "name": "关键词需求分析",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": "gemini-pro",
        "prompt": "基于市场分析：{{ $node[\"市场机会分析\"].json[\"text\"] }}\n\n请分析该市场的主要竞争对手，以JSON格式返回：\n\n{\n  \"competitive_landscape\": \"竞争格局概述\",\n  \"top_competitors\": [\n    {\n      \"name\": \"竞争对手名称\",\n      \"type\": \"公司类型（大企业/创业公司/品牌商等）\",\n      \"market_share\": \"市场份额估算\",\n      \"strengths\": [\"优势1\", \"优势2\", \"优势3\"],\n      \"weaknesses\": [\"劣势1\", \"劣势2\"],\n      \"pricing_strategy\": \"定价策略\",\n      \"differentiation\": \"差异化优势\"\n    }\n  ],\n  \"market_gaps\": [\"市场空白1\", \"市场空白2\", \"市场空白3\"],\n  \"competitive_advantages\": [\"可获得的竞争优势1\", \"可获得的竞争优势2\"],\n  \"threat_level\": \"竞争威胁等级（高/中/低）\",\n  \"entry_strategy\": \"建议的市场进入策略\"\n}",
        "options": {}
      },
      "id": "competitor-analysis", 
      "name": "竞争对手分析",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "model": "gemini-pro",
        "prompt": "基于以上分析结果：\n市场分析：{{ $node[\"市场机会分析\"].json[\"text\"] }}\n关键词分析：{{ $node[\"关键词需求分析\"].json[\"text\"] }}\n竞争分析：{{ $node[\"竞争对手分析\"].json[\"text\"] }}\n\n请构建详细的用户画像，以JSON格式返回：\n\n{\n  \"primary_persona\": {\n    \"name\": \"用户画像名称\",\n    \"demographics\": {\n      \"age_range\": \"年龄范围\",\n      \"gender\": \"性别倾向\",\n      \"income_level\": \"收入水平\",\n      \"education\": \"教育背景\",\n      \"location\": \"地理位置\"\n    },\n    \"psychographics\": {\n      \"lifestyle\": \"生活方式\",\n      \"values\": [\"价值观1\", \"价值观2\"],\n      \"interests\": [\"兴趣1\", \"兴趣2\", \"兴趣3\"],\n      \"pain_points\": [\"痛点1\", \"痛点2\", \"痛点3\"],\n      \"goals\": [\"目标1\", \"目标2\"]\n    },\n    \"buying_behavior\": {\n      \"decision_factors\": [\"决策因素1\", \"决策因素2\"],\n      \"purchase_frequency\": \"购买频率\",\n      \"price_sensitivity\": \"价格敏感度\",\n      \"preferred_channels\": [\"首选渠道1\", \"首选渠道2\"]\n    },\n    \"media_consumption\": {\n      \"social_platforms\": [\"社交平台1\", \"社交平台2\"],\n      \"content_types\": [\"内容类型1\", \"内容类型2\"],\n      \"information_sources\": [\"信息来源1\", \"信息来源2\"]\n    }\n  },\n  \"secondary_personas\": [\"次要用户画像描述1\", \"次要用户画像描述2\"]\n}",
        "options": {}
      },
      "id": "user-persona",
      "name": "用户画像分析",
      "type": "n8n-nodes-base.googleGemini", 
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "model": "gemini-pro",
        "prompt": "基于完整的市场调研分析：\n市场分析：{{ $node[\"市场机会分析\"].json[\"text\"] }}\n关键词分析：{{ $node[\"关键词需求分析\"].json[\"text\"] }}\n竞争分析：{{ $node[\"竞争对手分析\"].json[\"text\"] }}\n用户画像：{{ $node[\"用户画像分析\"].json[\"text\"] }}\n\n请制定综合营销策略，以JSON格式返回：\n\n{\n  \"marketing_strategy\": {\n    \"positioning\": \"品牌定位策略\",\n    \"value_proposition\": \"独特价值主张\",\n    \"messaging_framework\": \"核心信息框架\",\n    \"brand_personality\": \"品牌个性描述\"\n  },\n  \"channel_strategy\": {\n    \"primary_channels\": [\"主要渠道1\", \"主要渠道2\"],\n    \"secondary_channels\": [\"次要渠道1\", \"次要渠道2\"],\n    \"channel_mix_rationale\": \"渠道组合理由\"\n  },\n  \"content_strategy\": {\n    \"content_pillars\": [\"内容支柱1\", \"内容支柱2\", \"内容支柱3\"],\n    \"content_formats\": [\"内容格式1\", \"内容格式2\"],\n    \"content_calendar_suggestions\": \"内容日历建议\"\n  },\n  \"budget_allocation\": {\n    \"paid_advertising\": \"付费广告预算占比\",\n    \"content_creation\": \"内容创作预算占比\",\n    \"influencer_marketing\": \"网红营销预算占比\",\n    \"organic_growth\": \"有机增长投入占比\"\n  },\n  \"success_metrics\": [\"成功指标1\", \"成功指标2\", \"成功指标3\"],\n  \"implementation_timeline\": \"实施时间线建议\"\n}",
        "options": {}
      },
      "id": "marketing-strategy",
      "name": "营销策略制定",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "topic",
              "value": "={{ $node[\"接收研究请求\"].json[\"body\"][\"topic\"] }}"
            },
            {
              "name": "email", 
              "value": "={{ $node[\"接收研究请求\"].json[\"body\"][\"email\"] }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toLocaleString('zh-CN', {timeZone: 'Asia/Shanghai'}) }}"
            },
            {
              "name": "report_id",
              "value": "={{ 'RPT-' + new Date().getTime().toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "data-preparation",
      "name": "数据整理准备",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "final_report",
              "value": "# {{ $json[\"topic\"] }} - AI市场调研报告\n\n**报告编号**: {{ $json[\"report_id\"] }}  \n**生成时间**: {{ $json[\"timestamp\"] }}  \n**研究主题**: {{ $json[\"topic\"] }}\n\n---\n\n## 📊 执行摘要\n\n本报告通过AI深度分析，为您提供「{{ $json[\"topic\"] }}」领域的全面市场洞察。报告涵盖市场机会、关键词策略、竞争格局、用户画像和营销策略五个核心维度。\n\n---\n\n## 🎯 市场机会分析\n\n{{ JSON.parse($node[\"市场机会分析\"].json[\"text\"]).market_overview }}\n\n**市场规模**: {{ JSON.parse($node[\"市场机会分析\"].json[\"text\"]).market_size }}\n\n### 核心细分市场机会\n\n{{ JSON.parse($node[\"市场机会分析\"].json[\"text\"]).key_niches.map(niche => `**${niche.niche_name}** (机会评分: ${niche.opportunity_score}/10)\n- 目标用户: ${niche.target_audience}\n- 核心痛点: ${niche.pain_point}\n- 市场趋势: ${niche.market_trend}`).join('\\n\\n') }}\n\n### 成功关键因素\n{{ JSON.parse($node[\"市场机会分析\"].json[\"text\"]).success_factors.map(factor => `• ${factor}`).join('\\n') }}\n\n---\n\n## 🔍 关键词与需求洞察\n\n**主要细分市场**: {{ JSON.parse($node[\"关键词需求分析\"].json[\"text\"]).primary_niche }}\n\n### 核心关键词 (高价值)\n{{ JSON.parse($node[\"关键词需求分析\"].json[\"text\"]).core_keywords.map(keyword => `• ${keyword}`).join('\\n') }}\n\n### 长尾关键词机会\n{{ JSON.parse($node[\"关键词需求分析\"].json[\"text\"]).long_tail_keywords.map(keyword => `• ${keyword}`).join('\\n') }}\n\n### 搜索意图分析\n- **信息型需求**: {{ JSON.parse($node[\"关键词需求分析\"].json[\"text\"]).search_intent_analysis.informational.join(', ') }}\n- **商业型需求**: {{ JSON.parse($node[\"关键词需求分析\"].json[\"text\"]).search_intent_analysis.commercial.join(', ') }}\n- **交易型需求**: {{ JSON.parse($node[\"关键词需求分析\"].json[\"text\"]).search_intent_analysis.transactional.join(', ') }}\n\n**季节性趋势**: {{ JSON.parse($node[\"关键词需求分析\"].json[\"text\"]).seasonal_trends }}\n\n---\n\n## 🏆 竞争格局分析\n\n{{ JSON.parse($node[\"竞争对手分析\"].json[\"text\"]).competitive_landscape }}\n\n### 主要竞争对手\n\n{{ JSON.parse($node[\"竞争对手分析\"].json[\"text\"]).top_competitors.map(competitor => `**${competitor.name}** (${competitor.type})\n- 市场份额: ${competitor.market_share}\n- 优势: ${competitor.strengths.join(', ')}\n- 劣势: ${competitor.weaknesses.join(', ')}\n- 定价策略: ${competitor.pricing_strategy}\n- 差异化: ${competitor.differentiation}`).join('\\n\\n') }}\n\n### 市场空白机会\n{{ JSON.parse($node[\"竞争对手分析\"].json[\"text\"]).market_gaps.map(gap => `• ${gap}`).join('\\n') }}\n\n**竞争威胁等级**: {{ JSON.parse($node[\"竞争对手分析\"].json[\"text\"]).threat_level }}\n\n---\n\n## 👥 目标用户画像\n\n### 主要用户画像: {{ JSON.parse($node[\"用户画像分析\"].json[\"text\"]).primary_persona.name }}\n\n**人口统计特征**:\n- 年龄: {{ JSON.parse($node[\"用户画像分析\"].json[\"text\"]).primary_persona.demographics.age_range }}\n- 收入: {{ JSON.parse($node[\"用户画像分析\"].json[\"text\"]).primary_persona.demographics.income_level }}\n- 教育: {{ JSON.parse($node[\"用户画像分析\"].json[\"text\"]).primary_persona.demographics.education }}\n- 位置: {{ JSON.parse($node[\"用户画像分析\"].json[\"text\"]).primary_persona.demographics.location }}\n\n**心理特征**:\n- 生活方式: {{ JSON.parse($node[\"用户画像分析\"].json[\"text\"]).primary_persona.psychographics.lifestyle }}\n- 价值观: {{ JSON.parse($node[\"用户画像分析\"].json[\"text\"]).primary_persona.psychographics.values.join(', ') }}\n- 兴趣: {{ JSON.parse($node[\"用户画像分析\"].json[\"text\"]).primary_persona.psychographics.interests.join(', ') }}\n- 痛点: {{ JSON.parse($node[\"用户画像分析\"].json[\"text\"]).primary_persona.psychographics.pain_points.join(', ') }}\n\n**购买行为**:\n- 决策因素: {{ JSON.parse($node[\"用户画像分析\"].json[\"text\"]).primary_persona.buying_behavior.decision_factors.join(', ') }}\n- 购买频率: {{ JSON.parse($node[\"用户画像分析\"].json[\"text\"]).primary_persona.buying_behavior.purchase_frequency }}\n- 价格敏感度: {{ JSON.parse($node[\"用户画像分析\"].json[\"text\"]).primary_persona.buying_behavior.price_sensitivity }}\n- 首选渠道: {{ JSON.parse($node[\"用户画像分析\"].json[\"text\"]).primary_persona.buying_behavior.preferred_channels.join(', ') }}\n\n---\n\n## 📈 营销策略建议\n\n### 品牌定位\n- **定位策略**: {{ JSON.parse($node[\"营销策略制定\"].json[\"text\"]).marketing_strategy.positioning }}\n- **价值主张**: {{ JSON.parse($node[\"营销策略制定\"].json[\"text\"]).marketing_strategy.value_proposition }}\n- **品牌个性**: {{ JSON.parse($node[\"营销策略制定\"].json[\"text\"]).marketing_strategy.brand_personality }}\n\n### 渠道策略\n- **主要渠道**: {{ JSON.parse($node[\"营销策略制定\"].json[\"text\"]).channel_strategy.primary_channels.join(', ') }}\n- **次要渠道**: {{ JSON.parse($node[\"营销策略制定\"].json[\"text\"]).channel_strategy.secondary_channels.join(', ') }}\n- **渠道组合理由**: {{ JSON.parse($node[\"营销策略制定\"].json[\"text\"]).channel_strategy.channel_mix_rationale }}\n\n### 内容策略\n- **内容支柱**: {{ JSON.parse($node[\"营销策略制定\"].json[\"text\"]).content_strategy.content_pillars.join(', ') }}\n- **内容格式**: {{ JSON.parse($node[\"营销策略制定\"].json[\"text\"]).content_strategy.content_formats.join(', ') }}\n\n### 预算分配建议\n- 付费广告: {{ JSON.parse($node[\"营销策略制定\"].json[\"text\"]).budget_allocation.paid_advertising }}\n- 内容创作: {{ JSON.parse($node[\"营销策略制定\"].json[\"text\"]).budget_allocation.content_creation }}\n- 网红营销: {{ JSON.parse($node[\"营销策略制定\"].json[\"text\"]).budget_allocation.influencer_marketing }}\n- 有机增长: {{ JSON.parse($node[\"营销策略制定\"].json[\"text\"]).budget_allocation.organic_growth }}\n\n### 成功指标\n{{ JSON.parse($node[\"营销策略制定\"].json[\"text\"]).success_metrics.map(metric => `• ${metric}`).join('\\n') }}\n\n---\n\n## 🚀 执行建议\n\n**实施时间线**: {{ JSON.parse($node[\"营销策略制定\"].json[\"text\"]).implementation_timeline }}\n\n### 立即行动项\n1. 基于用户画像优化产品定位\n2. 围绕核心关键词创建内容策略\n3. 分析竞争对手空白，制定差异化策略\n4. 在主要渠道测试市场反应\n5. 建立成功指标监控体系\n\n---\n\n## 📋 数据说明\n\n- **数据来源**: Google Gemini Pro AI分析引擎\n- **分析方法**: 多维度市场调研模型\n- **准确性**: 基于公开信息和AI推理，建议结合实地调研验证\n- **更新频率**: 建议每季度重新分析一次\n\n---\n\n**报告生成**: AI市场调研系统 | **技术支持**: n8n + Google Gemini Pro  \n**版权声明**: 本报告仅供参考，具体决策请结合实际情况\n\n---\n\n*感谢使用AI市场调研服务！如有疑问请联系技术支持。*"
            }
          ]
        },
        "options": {}
      },
      "id": "report-generation",
      "name": "生成最终报告", 
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "fromEmail": "your-email@gmail.com",
        "toEmail": "={{ $node[\"数据整理准备\"].json[\"email\"] }}",
        "subject": "您的「{{ $node[\"数据整理准备\"].json[\"topic\"] }}」市场调研报告 - {{ $node[\"数据整理准备\"].json[\"report_id\"] }}",
        "text": "您好！\n\n您委托的「{{ $node[\"数据整理准备\"].json[\"topic\"] }}」市场调研报告已完成。请查看附件中的详细报告。\n\n报告编号：{{ $node[\"数据整理准备\"].json[\"report_id\"] }}\n生成时间：{{ $node[\"数据整理准备\"].json[\"timestamp\"] }}\n\n如有疑问，请联系我们的技术支持。\n\n谢谢！\nAI市场调研团队",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 800px; margin: 0 auto; padding: 20px; }\n        .header { background: #f8f9fa; padding: 20px; border-radius: 8px; margin-bottom: 20px; }\n        .content { background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n        .highlight { background: #e3f2fd; padding: 10px; border-left: 4px solid #2196f3; margin: 15px 0; }\n        .footer { margin-top: 30px; padding-top: 20px; border-top: 1px solid #ddd; font-size: 12px; color: #666; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>🎯 您的市场调研报告已完成！</h1>\n        <p><strong>研究主题</strong>：{{ $node[\"数据整理准备\"].json[\"topic\"] }}</p>\n        <p><strong>报告编号</strong>：{{ $node[\"数据整理准备\"].json[\"report_id\"] }}</p>\n        <p><strong>生成时间</strong>：{{ $node[\"数据整理准备\"].json[\"timestamp\"] }}</p>\n    </div>\n    \n    <div class=\"content\">\n        <div class=\"highlight\">\n            <h2>📋 报告概览</h2>\n            <p>本报告包含以下核心分析模块：</p>\n            <ul>\n                <li>📊 市场机会与规模分析</li>\n                <li>🔍 关键词与搜索需求洞察</li>\n                <li>🏆 竞争对手深度分析</li>\n                <li>👥 目标用户画像构建</li>\n                <li>📈 营销策略与执行建议</li>\n            </ul>\n        </div>\n        \n        <p>您好！</p>\n        <p>我们已使用AI深度分析引擎完成了您委托的「<strong>{{ $node[\"数据整理准备\"].json[\"topic\"] }}</strong>」市场调研报告。</p>\n        \n        <p>本报告通过多维度分析模型，为您提供：</p>\n        <ul>\n            <li>🎯 <strong>精准市场定位</strong>：识别最有价值的细分市场机会</li>\n            <li>🔍 <strong>关键词策略</strong>：高价值关键词和长尾词机会挖掘</li>\n            <li>🏆 <strong>竞争优势</strong>：竞争对手分析和市场空白识别</li>\n            <li>👥 <strong>用户洞察</strong>：详细的目标用户画像和行为分析</li>\n            <li>📈 <strong>营销路径</strong>：可执行的营销策略和预算分配建议</li>\n        </ul>\n        \n        <div class=\"highlight\">\n            <h3>📄 完整报告内容</h3>\n            <div style=\"background: #f5f5f5; padding: 15px; border-radius: 4px; white-space: pre-line; font-family: monospace; font-size: 12px; max-height: 300px; overflow-y: auto;\">{{ $node[\"生成最终报告\"].json[\"final_report\"] }}</div>\n        </div>\n        \n        <p><strong>💡 立即行动建议</strong>：</p>\n        <ol>\n            <li>仔细阅读市场机会分析，识别最适合的切入点</li>\n            <li>根据关键词策略制定内容营销计划</li>\n            <li>分析竞争对手空白，制定差异化策略</li>\n            <li>基于用户画像优化产品定位和营销信息</li>\n            <li>按照营销策略建议配置资源和预算</li>\n        </ol>\n    </div>\n    \n    <div class=\"footer\">\n        <p><strong>技术说明</strong>：本报告由AI市场调研系统自动生成，采用Google Gemini Pro分析引擎，结合多维度市场调研模型。建议将AI分析结果与实地调研相结合，以获得更准确的市场洞察。</p>\n        <p><strong>服务支持</strong>：如对报告内容有疑问或需要进一步分析，请联系我们的技术支持团队。</p>\n        <p><strong>版权声明</strong>：本报告仅供您个人或企业决策参考使用。</p>\n        <hr>\n        <p style=\"text-align: center;\">感谢使用AI市场调研服务！</p>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email",
      "name": "发送邮件报告",
      "type": "n8n-nodes-base.gmail", 
      "typeVersion": 1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "接收研究请求": {
      "main": [
        [
          {
            "node": "市场机会分析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "市场机会分析": {
      "main": [
        [
          {
            "node": "关键词需求分析",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "关键词需求分析": {
      "main": [
        [
          {
            "node": "竞争对手分析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "竞争对手分析": {
      "main": [
        [
          {
            "node": "用户画像分析", 
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "用户画像分析": {
      "main": [
        [
          {
            "node": "营销策略制定",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "营销策略制定": {
      "main": [
        [
          {
            "node": "数据整理准备",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据整理准备": {
      "main": [
        [
          {
            "node": "生成最终报告",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成最终报告": {
      "main": [
        [
          {
            "node": "发送邮件报告",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}